{% extends '../layouts/frontend.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Sistema de Administración de Personas SAP</h1>
    <p>{{ msg1 }}</p>
    <p>{{ msg2 }}</p>
{% endblock %}