{% extends '../layouts/frontend.html' %}

{% block title %}Personas{% endblock %}

{% block content %}
    <h1>Personas</h1>
    <p>Hay un total de {{ no_personas }} personas.</p>
    <p><a href="personas/add" class="btn btn-success" title="Crear persona">Crear</a></p>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
        <tr>
            <td>{{ persona.id }}</td>
            <td>{{ persona.nombre | title }}</td>
            <td>{{ persona.apellido | title }}</td>
            <td>{{ persona.email }}</td>
            <td>{{ persona.domicilio.calle }}</td>
            <td>
                <a href="personas/view/{{ persona.id }}" title="Ver {{ persona.nombre }}"><i class="bi bi-eye-fill"></i></a>
                <a href="personas/edit/{{ persona.id }}" title="Editar {{ persona.nombre }}"><i class="bi bi-pencil-fill"></i></a>
                <a href="personas/delete/{{ persona.id }}" title="Eliminar {{ persona.nombre }}"><i class="bi bi-trash3-fill"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}