{% extends '../../layouts/frontend.html' %}

{% block content %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'webapp_persona' %}">Personas</a></li>
          <li class="breadcrumb-item active" aria-current="page">Crear persona</li>
        </ol>
    </nav>

    <div class="card text-bg-light mb-3">
        <div class="card-header">Nueva Persona</div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ forma_persona }}
                </table>
                <p><input class="btn btn-success" type="submit" value="Guardar" name="guardar"></p>
            </form>
        </div>
    </div>

{% endblock %}