{% extends '../../layouts/frontend.html' %}

{% block title %}Detalle {{ persona.nombre }}{% endblock %}

{% block content %}

  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'webapp_persona' %}">Personas</a></li>
      <li class="breadcrumb-item active" aria-current="page">Detalle {{ persona.nombre }}</li>
    </ol>
  </nav>

  <div class="card text-bg-light mb-3">
    <div class="card-header">Persona {{ persona.nombre | capfirst }}</div>
    <div class="card-body">
      <table class="table table-hover table-bordered">
        <tr>
          <th>ID</th>
          <td>{{ persona.id }}</td>
        </tr>
        <tr>
          <th>Nombre</th>
          <td>{{ persona.nombre | capfirst }}</td>
        </tr>
        <tr>
          <th>Apellido</th>
          <td>{{ persona.apellido | capfirst }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ persona.email }}</td>
        </tr>
        <tr>
          <th>Domicilio</th>
          <td>{{ persona.domicilio.calle }}</td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}